@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
#lobbybody{
    width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1vw;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 6.91vh #8a4d0f inset;
    background: rgb(255, 255, 255);
}
#container{
    display: grid;
    justify-items: center;
    font-family: "Shadows Into Light", serif;
}

#container button, #container2 button {
    height: 4.5vh;
    border:0.12vw solid;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 0.12vw 0.35vh 1.38vh black, 0 0 0.46vh #8a4d0f inset;
    font-family: "Shadows Into Light", serif;
    font-size: 0.85em;
}

#username,#joinTeam {
    background-color: white;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    justify-self: center;
}
#username{
    width: 11vw;
    height: 3.7vh;
}

#joinTeam{
    width: 5vw;
    height: 4.5vh;
    margin-left: 16.5vw;
    font-family: "Shadows Into Light", serif;
}
#userList1 {
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 2.3vh #8a4d0f inset;
    transform: rotate(2deg);
    width: 18vw;
    height: 36vh;
    grid-column: 1;
    grid-row: 2;
    border:0.12vw solid;
}
#userList2 {
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 2.3vh #8a4d0f inset;
    transform: rotate(2deg);
    width: 18vw;
    height: 36vh;
    grid-column: 3;
    grid-row: 2;
    border:0.12vw solid;
}
#lobby{
    font-size: 4em;
    grid-column: 2;
/*    margin-left: 1.75em;*/
    grid-row: 1;
    font-family: "Shadows Into Light", serif;
}
#drawBody{
    width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "Shadows Into Light", serif;
    font-size: 1vw;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 6.91vh #8a4d0f inset;
    background: rgb(255, 255, 255);
}
#container2 {
    display: grid;
    justify-items: center;
    column-gap: 5vw;
}
#role{
    grid-row: 1;
    grid-column: 1;
    justify-self: flex-end;
}
#can{
    background-color: white;
    grid-row: 2;
    grid-column: 1;
    max-width: 47.7vw;
    min-height: 57.6vh;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 2.3vh #8a4d0f inset;
}

.countdown_text {
    grid-row: 4;
    color: cornflowerblue;
}

#index_countdown_text {
    grid-column: 2;
}

#play_countdown_text {
    grid-column: 1;
}

#answer{
    margin-top: 1vh;
    max-width: 10vw;
    height: 3vh;
    grid-row: 3;
    grid-column: 2;
    border:0.12vw solid;
}

#labeldraw{
    grid-row: 3;
    grid-column: 2;
    justify-self: start;
}
#team1{
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 2.3vh #8a4d0f inset;
    transform: rotate(2deg);
    grid-column: 2;
    grid-row: 2;
    border:0.12vw solid;
    width: 16.7vw;
    height: 22vh;
    
}
#team2{
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    grid-column: 2;
    grid-row: 2;
    width: 16.7vw;
    height: 22vh;
    align-self: flex-end;
    box-shadow: 0.12vw 0.35vh 2.3vh black, 0 0 2.3vh #8a4d0f inset;
    border:0.12vw solid;
    
}

#guess_list {
    grid-column: 3;
    grid-row: 2;
    align-self: start;
    justify-self: center;
}

#title{
    color: cornflowerblue;
    grid-row: 1;
    grid-column: 1;
    justify-self: flex-start;
}

#color_picker {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 3vh 3vh 4vh 3vh;
    grid-template-columns: repeat(3, 1.9vw);
    align-self: end;
}
.color {
    width: 1.3vw;
    height: 2vh;
    border: 0.06vw solid;
}

#enter {
    grid-row: 3;
    grid-column: 2;
    width: 3.9vw;
    align-self: center;
    justify-self: end;
}

#give_up {
    width: fit-content;
    grid-row: 4;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

#score1{
    width: 3.9vw;
    height: 0.5vh;
    float: right;
}
#number1{
    width: 0.6vw;
    height: 0.5vh;
    float: right;
    margin-right: 0.75vw;
}
#score2{
    width: 3.9vw;
    height: 0.5vh;
    float: right;
}
#number2{
    width: .6vw;
    height: 0.5vh;
    float: right;
    margin-right: 0.75vw;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}