@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
#lobbybody{
    display: flex;
    width: 99%;
    height: 98%;
    align-items: center;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: rgb(255, 255, 255);
    filter: url(#wavy2);
}
.container{
    display: grid;
    grid-template-columns: 19em 19em 19em 19em ;
    grid-template-rows: 11em 18em 2em;
    font-family:Shadows Into Light;
}
#username,#joinTeam{
    background-color: white;
}
#username{
    grid-column:3;
    grid-row: 3;
    width: 11em;
    height: 2.25em;

}

#joinTeam{
    grid-column: 3;
    grid-row: 3;
    width: 5em;
    height: 2.25em;
    margin-left: 11em;
    font-family:Shadows Into Light;
}
#userList1{
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 2px 3px 20px black, 0 0 20px #8a4d0f inset;
    transform: rotate(2deg);
    width: 16em;
    height: 16em;
    
    grid-column: 2;
    grid-row: 2;
    border:2px solid;
}
#userList2{ 
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 2px 3px 20px black, 0 0 20px #8a4d0f inset;
    transform: rotate(2deg);
    width: 16em;
    height: 16em;
    margin-left: 8em;
    grid-column: 3;
    grid-row: 2;
    border:2px solid;
}
#lobby{
    
    font-size: 5em;
    grid-column: 2 / 5;
    margin-left: 1.75em;
    grid-row: 1;
    font-family:Shadows Into Light;
}
#drawBody{
    font-family:Shadows Into Light;
    display: flex;
    justify-items: center;
    width: 99%;
    height: 97%;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: rgb(255, 255, 255);
    filter: url(#wavy2);
}
.container2{
    display: grid;
    grid-template-columns: 5em 50em 20em;
    grid-template-rows:  3em 27em 2em;
    gap: 2em;
}
#role{
    grid-row: 1;
    grid-column: 2;
    margin-left: 10em;
}
#can{
    background-color: white;
    grid-row: 2;
    grid-column: 2;
    width: 50em;
    height: 30em;

    box-shadow: 2px 3px 20px black, 0 0 20px #8a4d0f inset;
    
}

#countdown_text {
    grid-row: 3;
    grid-column: 2;
    margin: 10% auto;
    color: cornflowerblue;
}

#answer{
    
    border:2px solid;
    grid-row: 3;
    grid-column: 1;
}
#labeldraw{
    
    grid-row: 3;
    grid-column: 3;
}
#team1{
    
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 2px 3px 20px black, 0 0 20px #8a4d0f inset;
    transform: rotate(2deg);
    grid-column: 3;
    grid-row: 2;
    border:2px solid;
    width: 13em;
    height: 11em;
    
}
#team2{
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    grid-column: 3;
    grid-row: 2;
    width: 13em;
    height: 11em;
    align-self: flex-end;
    box-shadow: 2px 3px 20px black, 0 0 20px #8a4d0f inset;
    border:2px solid;
    
}
.team{
    width: 13em;
    height: 11em;
}

#title{
    color: cornflowerblue;
    margin-left: 1em;
    grid-row: 1;
    grid-column: 1/3;
}

#enter{
    width:3em;
    height: 2em;
    grid-row: 3;
    grid-column: 3;
    margin-left: 17em; 
    margin-top: .25em;
    border-width: 3px 4px 3px 5px; 
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    box-shadow: 2px 3px 12px black, 0 0 4px #8a4d0f inset;
    border:2px solid;
    font-family:Shadows Into Light;
    
}

#score1{
    width: 3em;
    height: .25em;
    float: right;
    margin-right: 2em;
}
#numberone{
    width: .5em;
    height: .25em;
    float: right;
}
#score2{
    width: 3em;
    height: .25em;
    float: right;
    margin-right: 2em;
}
#numbertwo{
    width: .5em;
    height: .25em;
    float: right;
}