<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script type="text/javascript">
    var socket, canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 2;
    
    function init() {
        socket = io.connect('http://127.0.0.1:5000');
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);

        socket.on('message', function(msg) {
            const json_data = JSON.parse(msg);
            x = json_data.color;
            y = json_data.lineWidth
            draw(json_data.x1, json_data.y1, json_data.x2, json_data.y2, true)
        });
    }
    
    function draw(x1,y1,x2,y2,received) {
        ctx.beginPath();
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
        if (!received) {
            const json_data = {x1: x1, y1: y1, x2: x2, y2: y2, color: x, lineWidth:y}
            socket.send(JSON.stringify(json_data));
        }
    }
    function erase() {
        ctx.clearRect(0, 0, w, h);
    }
  
    
    function findxy(res, e) {
            if (res == 'down') {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;

                flag = true;
                dot_flag = true;
                if (dot_flag) {
                    ctx.beginPath();
                    ctx.fillStyle = x;
                    ctx.fillRect(currX, currY, 2, 2);
                    ctx.closePath();
                    dot_flag = false;
                }
            }
            if (res == 'up' || res == "out") {
                flag = false;
            }
            if (res == 'move') {
                if (flag) {
                    prevX = currX;
                    prevY = currY;
                    currX = e.clientX - canvas.offsetLeft;
                    currY = e.clientY - canvas.offsetTop;
                    draw(prevX, prevY, currX, currY, false);
                }
            }
    }
    </script>
    </head>
    <body id="drawBody" onload="init()">
        <div class="container2">
            <h1 id="title">Drawn Together</h1>
            <canvas id="can" width="800" height="500" ></canvas>
            <div style="position:absolute;top:12%;left:85%;">Choose Color</div>
            <div style="position:absolute;top:15%;left:87%;width:10px;height:10px;background:green;border:1px solid;" id="green" onclick="x='green'; y=2"></div>
            <div style="position:absolute;top:15%;left:88%;width:10px;height:10px;background:blue;border:1px solid;" id="blue" onclick="x='blue'; y=2"></div>
            <div style="position:absolute;top:15%;left:89%;width:10px;height:10px;background:red;border:1px solid;" id="red" onclick="x='red'; y=2"></div>
            <div style="position:absolute;top:17%;left:87%;width:10px;height:10px;background:yellow;border:1px solid;" id="yellow" onclick="x='yellow'; y=2"></div>
            <div style="position:absolute;top:17%;left:88%;width:10px;height:10px;background:orange;border:1px solid;" id="orange" onclick="x='orange'; y=2"></div>
            <div style="position:absolute;top:17%;left:89%;width:10px;height:10px;background:black;border:1px solid;" id="black" onclick="x='black'; y=2"></div>
            <div style="position:absolute;top:20%;left:87%;">Eraser</div>
            <div style="position:absolute;top:23%;left:88%;width:13px;height:13px;background:white;border:2px solid;" id="white" onclick="x='white'; y=14"></div>
            <button id= "erase" onclick="erase()">Clear</button>
            <label id="labeldraw">
                Guess:
                <input id="answer" type="text" name="guess_input">
                <button id="enter">Enter</button>
            </label>
            <!-- <img id="size2" src="size2.png" onclick="y=2">
            <img id="size4" src="size4.png" onclick="y=4">
            <img id="size6" src="size6.png" onclick="y=6"> -->
            <div id = "team1">
                Team 1<div class="team">
                    <ul>
                    {%for user in team1%}
                        <li>{{user}}</li>
                    {%endfor%}
                </ul>
                </div>
            </div>
            <div id = team2>
                Team 2<div class="team">
                    <ul>
                        {%for user in team2%}
                            <li>{{user}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </body>
    </html>