<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>


<input type="text" id="username">
<button id="joinTeam">Join Room</button>
<ul id="userList"></ul>

<script type="text/javascript">
$(document).ready(function() {

    var lobby_socket = io.connect('http://127.0.0.1:5000/lobby');

    lobby_socket.on('connect', function() {
		lobby_socket.send('User has connected!');
	});

    lobby_socket.on('message', function(msg) {
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(msg));
		document.getElementById('userList').appendChild(li)
	});

    $('#joinTeam').on('click', function (){
        lobby_socket.emit('joinUsername', $('#username').val());
        lobby_socket.send($('#username').val());
        $('#username').val('')
    });
});
</script>
</body>

</html>