<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" async></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/timer.js"></script>
        <script type="text/javascript">
            let socket, canvas, ctx, flag = false,
                prevX = 0,
                currX = 0,
                prevY = 0,
                currY = 0,
                dot_flag = false;
            let x = "black",
                y = 2;
            let w, h;

            let startGame = false;
            const indexUrl = "{{ url_for('lobby') }}";
            const thisUrl = "{{ url_for('play', user_code=user_code) }}";
            // Connect to socket and send users to specific rooms when the page loads
            function init() {
                socket = io.connect(indexUrl);
                let performanceEntries = performance.getEntriesByType("navigation");
                const drawer = "{{ drawer }}";
                if (performanceEntries[performanceEntries.length-1].type !== "reload") {
                    let countdownText = $('.countdown_text')
                    countdownText.html("Round starting in ");
                    startTimer(5, countdownText, false, null);
                    setup(drawer);
                }
                else if (drawer === "False") {
                    startGame = true;
                    setup(drawer);
                }
                else {
                    socket.emit('delete_user', "{{ username }}");
                    alert("You have been removed from the game");
                    setTimeout(function () {
                        window.location.replace(indexUrl);
                    },1000);
                }

                // Share the information of the canvas across rooms, end the round and end the game
                let array = [];
                socket.on('message', (msg) => {
                    if (msg !== 'startGameMessage') {
                        if (msg !== 'game_over' && (typeof msg === "string" && msg.substring(0,msg.length-1)) !== 'reset' && msg !== 'force_reset') {
                            if (msg.username !== undefined && msg.team !== undefined) {
                                if (Math.floor(msg.team / 2) === Math.floor(({{ team }}) / 2)) {
                                    let li = document.createElement("li");
                                    li.appendChild(document.createTextNode(msg.username));
                                    if (msg.team % 2 === 0) {
                                        document.getElementById('team1_list').appendChild(li);
                                    } else {
                                        document.getElementById('team2_list').appendChild(li);
                                    }
                                }
                            } else if (msg.color === undefined || msg.lineWidth === undefined) {
                                console.log("Im Here");
                                if (drawer === "True")
                                    debugger;
                                let data = msg.data;
                                for (let x = 0; x < data.length; x++) {
                                    if (data[x] < 0) {
                                        for (let i = 0; i < data[x] * -1; i++) {
                                            array.push(0);
                                        }
                                    } else
                                        array.push(data[x]);
                                }
                                console.log("Done");
                                if (array.length !== 0)
                                    ctx.putImageData(new ImageData(Uint8ClampedArray.from(array), w), 0, 0);
                            } else {
                                x = msg.color;
                                y = msg.lineWidth;
                                draw(msg.x1, msg.y1, msg.x2, msg.y2, true);
                            }
                        } else {
                            if (msg === 'game_over') {
                                //alert("You guessed the word");
                                window.location.replace(thisUrl);
                            } else {
                                socket.disconnect()
                                if (msg === 'force_reset')
                                    alert("There are not enough players remaining to continue")
                                else
                                    alert("Team "+msg.substring(msg.length-1)+" wins!")
                                setTimeout(function () {
                                    window.location.replace(indexUrl);
                                }, 1000);
                            }
                        }
                    }
                });

                if (drawer === "False") {
                    socket.emit('load_canvas', {'from':"{{ username }}",'team':"{{team}}"});
                }

                socket.on('load_canvas', (msg) => {
                    if (drawer === "True") {
                        const data = ctx.getImageData(0,0, w, h).data;
                        sendCanvas(data,msg);
                    }
                });

                socket.on('add_word', (msg) => {
                    let li = document.createElement("li");
                    li.innerHTML = msg;
                    let guess_list = $('#guess_list');
                    if (guess_list.children().length >= 11)
                        guess_list.children().first().remove();
                    guess_list.append(li);
                });
            }

            function setup(drawer) {
                socket.emit('join_room', {'username':"{{ username }}", 'team':"{{ team }}"})
                canvas = document.getElementById('can');
                ctx = canvas.getContext("2d");
                w = canvas.width;
                h = canvas.height;

                if (drawer === "True") {
                    // Logic to track user mouse on the canvas
                    canvas.addEventListener("mousemove", function (e) {
                        findxy('move', e)
                    }, false);
                    canvas.addEventListener("mousedown", function (e) {
                        findxy('down', e)
                    }, false);
                    canvas.addEventListener("mouseup", function (e) {
                        findxy('up', e)
                    }, false);
                    canvas.addEventListener("mouseout", function (e) {
                        findxy('out', e)
                    }, false);
                }
            }

            async function sendCanvas(data,to_user) {
                let zeroCount = 0;
                let add = true;
                let msg = [];
                let promise = new Promise(resolve =>  {
                    for (let i = 0; i < data.length; i++) {
                        let entry;
                        if (data[i] === 0) {
                            zeroCount--;
                            add = false;
                        }
                        else {
                            add = true;
                            if (zeroCount !== 0) {
                                entry = zeroCount;
                                zeroCount = 0;
                                i--;
                            }
                            else
                                entry = data[i];
                        }
                        if (add)
                            msg.push(entry);
                    }
                    if (zeroCount !== 0)
                        msg.push(zeroCount);
                    resolve();
                });
                await promise;
                return socket.emit('send_canvas', {'data': msg, 'room': to_user});
            }

            /* Draws a line from previous the x,y coordinates to the current x,y coordinates
            and sends this data if it wasn't received from another client */
            function draw(x1,y1,x2,y2,received) {
                ctx.beginPath();
                ctx.moveTo(x1, y1);
                ctx.lineTo(x2, y2);
                ctx.strokeStyle = x;
                ctx.lineWidth = y;
                ctx.stroke();
                ctx.closePath();
                if (!received) {
                    const json_data = {x1: x1, y1: y1, x2: x2, y2: y2, color: x, lineWidth: y, room: "{{team}}" };
                    socket.emit('message',json_data);
                }
            }

            // Finds the x and y of the mouse relative to the canvas and handles the mouse event
            function findxy(res, e) {
                if (startGame) {
                    let rect = canvas.getBoundingClientRect();
                    let scaleX = canvas.width / rect.width,
                        scaleY = canvas.height / rect.height;
                    if (res === 'down') {
                        prevX = currX;
                        prevY = currY;
                        currX = (e.clientX - rect.left) * scaleX
                        currY = (e.clientY - rect.top) * scaleY

                        flag = true;
                        dot_flag = true;
                        if (dot_flag) {
                            ctx.beginPath();
                            ctx.fillStyle = x;
                            ctx.fillRect(currX, currY, 2, 2);
                            ctx.closePath();
                            dot_flag = false;
                        }
                    }

                    if (res === 'up' || res === "out") {
                        flag = false;
                    }

                    if (res === 'move') {
                        if (flag) {
                            prevX = currX;
                            prevY = currY;
                            currX = (e.clientX - rect.left) * scaleX
                            currY = (e.clientY - rect.top) * scaleY
                            draw(prevX, prevY, currX, currY, false);
                        }
                    }
                }
            }
        </script>
        <title>Play</title>

    </head>
        <body id="drawBody" onload="init()">
            <div class="container2">
                <h1 id="title">Drawn Together</h1>
                <h2 id="role">{% if drawer == true %} Word to draw: {{word_to_guess}}  {% else %} You are the guesser {% endif %} </h2>
                <canvas id="can" width="800" height="500" ></canvas>
                <h1 class="countdown_text">First to 5 points wins!</h1>
                <!-- Add users and scores to their specific teams -->
                {% if drawer == false %}
                    <label id="labeldraw">
                        Guess:
                        <input id="answer" type="text" name="guess_input">
                    </label>
                    <button id="enter" type="submit">Enter</button>
                    <button id="give_up">Give up</button>
                {% else %}
                    <div id="color_picker">
                        <div style="grid-row: 1; grid-column: 1 / span 3">Choose color</div>
                        <div class="color" id="green" style="grid-row: 2; grid-column: 1; background: green" onclick="x='green'; y=2"></div>
                        <div class="color" id="blue" style="grid-row: 2; grid-column: 2; background: blue" onclick="x='blue'; y=2"></div>
                        <div class="color" id="red" style="grid-row: 2; grid-column: 3; background: red" onclick="x='red'; y=2"></div>
                        <div class="color" id="yellow" style="grid-row: 3; grid-column: 1; background: yellow" onclick="x='yellow'; y=2"></div>
                        <div class="color" id="orange" style="grid-row: 3; grid-column: 2; background: orange" onclick="x='orange'; y=2"></div>
                        <div class="color" id="black" style="grid-row: 3; grid-column: 3; background: black" onclick="x='black'; y=2"></div>
                        <div style="grid-row: 4; grid-column: 1 / span 2">Eraser:</div>
                        <div class="color" id="white" style="grid-row: 4; grid-column: 3; background: white" onclick="x='white'; y=35"></div>
                    </div>
                {% endif %}
                <div id = "team1">
                    Team 1
                    <div id="score1">Score:
                        <div id="numberone">{{ team1_score }}</div>
                    </div>
                    <div class="team">
                        <ul id="team1_list">
                        {%for user in team1%}
                            <li>{% if username == user.username %}{{ user }}(Me){% else %}{{ user }}{% endif %}</li>
                        {%endfor%}
                    </ul>
                    </div>
                </div>
                <div id = team2>
                    Team 2
                    <div id="score2">Score:
                        <div id="numbertwo">{{ team2_score }}</div>
                    </div>
                    <div class="team">
                        <ul id="team2_list">
                            {%for user in team2%}
                                <li>{% if username == user.username %}{{ user }}(Me){% else %}{{ user }}{% endif %}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
                <ul id="guess_list">Guessed words:</ul>
            </div>
            <script>

                // Send user guess through Socket.io
                function send_guess(){
                    let guess = $('#answer');
                    if (startGame && guess.val().length !== 0)
                        socket.emit('guess', {'guess': guess.val(), 'team': {{ team }}});
                    guess.val('');
                }

                /*$(document).ready(function () {
                    startTimer(5, $('.countdown_text'));
                });*/

                let input = document.getElementById("answer");
                if (input != null) {
                    // Send guess when pressing Enter
                    input.addEventListener("keyup", function (event) {
                        // Number 13 is the "Enter" key on the keyboard
                        if (event.keyCode === 13) {
                            send_guess()
                        }
                    });
                }

                // Send guess on click
                $('#enter').on('click', function () {
                   send_guess()
                });

                $('#give_up').on('click', function () {
                    if (startGame)
                        socket.emit('guess', {'guess': 'give_up', 'team': {{ team }}});
                });

            </script>
        </body>
    </html>