<html lang="en">
    <head>
        <title>Lobby</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body id="lobbybody">
        <div class="container">
            <h1 id="lobby">Drawn Together</h1>
            <ul id="userList1">Team 1
                {% for user in users %}
                    {% if user.team == 0 %}<li>{{ user.username }}</li>{% endif %}
                {% endfor %}
            </ul>
            <ul id="userList2">Team 2
                {% for user in users %}
                    {% if user.team == 1 %}<li>{{ user.username }}</li>{% endif %}
                {% endfor %}
            </ul>
            <input type="text" id="username">
            <button id="joinTeam">Join Room</button>
        </div>

        <script type="text/javascript">
            <!-- Connect to the websocket when the webpage loads -->
            $(document).ready(function() {
                var lobby_socket = io.connect('http://127.0.0.1:5000');
                let user = '';
                let username = $('#username');

                <!-- Mange application state based on the messages from receive_username function in app.py  -->
                lobby_socket.on('message', function(msg) {

                        <!-- When there are more than 4 users, redirect all users to the play room  -->
                    if (msg === "startGameMessage"){
                        window.location.replace("http://127.0.0.1:5000/play/"+user);

                        <!-- Check if user already exists  -->
                    } else if(msg === "userErrorMessage"){
                        alert("You added your name already/username already exists");
                        username.val('');

                        <!-- Add user to the team  -->
                    } else{
                        const json_data = JSON.parse(msg);
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(json_data.username));
                        if (user === '')
                            user = username.val();
                        username.val('');
                        if (json_data.team === 0) {
                            document.getElementById('userList1').appendChild(li);
                        } else {
                            document.getElementById('userList2').appendChild(li);
                        }
                    }
                });

                <!-- Function to retrieve user input and send it through the socket -->
                function send_username(){
                    let username = $('#username');
                    if (username.val() !== ''){
                        lobby_socket.emit('joinUsername', username.val());
                    }else{
                        alert('Your username cannot be empty')
                    }
                }

                var input = document.getElementById("username");

                // Send username when pressing enter
                input.addEventListener("keyup", function(event) {
                  // Number 13 is the "Enter" key on the keyboard
                  if (event.keyCode === 13) {
                      send_username()
                      }
                   });

                // Send username on click
                $('#joinTeam').on('click', function (){
                    send_username()
                });
            });
        </script>
    </body>


</html>