<html>
<head>
<title>Lobby</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="lobbybody">
<div class="container">
    <h1 id="lobby">Drawn Together</h1>
    <ul id="userList1">Team 1</ul>
    <ul id="userList2">Team 2</ul>
    <input type="text" id="username">
    <button id="joinTeam">Join Room</button>
    <a id="startGame"><button>Start Game</button></a>
</div>

    <script type="text/javascript">
        $(document).ready(function() {

            var lobby_socket = io.connect('http://127.0.0.1:5000/lobby');
            let user;

/*            lobby_socket.on('connect', function() {
                lobby_socket.send('User has connected!');
            });*/

            lobby_socket.on('message', function(msg) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(msg));

                if (document.getElementById('userList1').getElementsByTagName("li").length <=
                    document.getElementById('userList2').getElementsByTagName("li").length)
                {
                    document.getElementById('userList1').appendChild(li)
                    console.log(document.getElementById('userList1'))
                    console.log("This added to list 1")
                    console.log(document.getElementById('userList1').getElementsByTagName("li").length)
                }else {
                    document.getElementById('userList2').appendChild(li)
                }
            });

            $('#joinTeam').on('click', function (){
                let username = $('#username');
                lobby_socket.emit('joinUsername', username.val());
                user = username.val();
                $('#startGame').attr('href','/play/'+user)
                username.val('');
            });
        });
    </script>
</body>


</html>