<html lang="en">
    <head>
        <title>Lobby</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="../static/timer.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body id="lobbybody">
        <div class="container">
            <h1 id="lobby">Drawn Together</h1>
            <ul id="userList1">Team 1 (max 4 players)
                {% for user in users %}
                    {% if user.team % 2 == 0 %}<li class="team_list_item">{{ user.username }}</li>{% endif %}
                {% endfor %}
            </ul>
            <ul id="userList2">Team 2 (max 4 players)
                {% for user in users %}
                    {% if user.team % 2 == 1 %}<li>{{ user.username }}</li>{% endif %}
                {% endfor %}
            </ul>
            <input type="text" id="username">
            <button id="joinTeam">Join Room</button>
            <h1 class="countdown_text">4 players required to start</h1>
        </div>

        <script type="text/javascript">
            const indexUrl = "{{ url_for('lobby') }}";
            let playUrl;
            // Connect to the websocket when the webpage loads
            $(document).ready(function() {
                let lobby_socket = io.connect(indexUrl);
                let user = '';
                let userCode = (Math.floor(Math.random() * 99999999) + 1).toString();
                let username = $('#username');
                let countdownText = $('.countdown_text');

                const beforeUnloadListener = (event) => {
                    event.preventDefault();
                    if (user !== '')
                        lobby_socket.emit('delete_user', user);
                    //return event.returnValue = "";
                };

                window.addEventListener("beforeunload", beforeUnloadListener, {capture: true});
                /*document.addEventListener("visibilitychange", function() {
                    if (document.visibilityState === 'hidden' && user !== '')
                       lobby_socket.emit('delete_user', user)
                });*/
                // Mange application state based on the messages from receive_username function in app.py
                lobby_socket.on('message', function(msg) {
                    //When there are more than 4 users, redirect all users to the play room
                    if (msg === "startGameMessage"){
                        if (user !== '') {
                            if ($("li").length > 4)
                                countdownText.html("Joining existing game in ");
                            else
                                countdownText.html("Entering game in ");
                            lobby_socket.disconnect();
                            playUrl = "{{ url_for('play', user_code=userCode) }}";
                            startTimer(3, countdownText, true, userCode);
                        }

                        //Check if user already exists
                    } else if(msg === "userErrorMessage"){
                        alert("You added your name already/username already exists");
                        username.val('');

                        //Add user to the team
                    } else if (msg.username !== undefined) {
                        let li = document.createElement("li");
                        li.appendChild(document.createTextNode(msg.username));
                        if (user === '')
                            user = username.val();
                        username.val('');
                        if (msg.team % 2 === 0) {
                            document.getElementById('userList1').appendChild(li);
                        } else {
                            document.getElementById('userList2').appendChild(li);
                        }
                    }
                });

                lobby_socket.on('max_users_reached', (msg) => {
                    let user_count = parseInt(msg)
                    for (let i=0; i < user_count/2; i++) {
                        $("#userList1 li:nth-child(1)").remove();
                    }
                    for (let i=0; i < user_count/2; i++) {
                        $("#userList2 li:nth-child(1)").remove();
                    }
                });

                lobby_socket.on('delete_user', (msg) => {
                    $("li").each(function() {
                       if ($(this).html() === msg)
                           $(this).remove();
                    });
                });

                // Function to retrieve user input and send it through the socket
                function send_username(){
                    if (username.val() !== '') {
                        lobby_socket.emit('joinUsername', {'userCode': userCode, 'username': username.val()});
                    }else{
                        alert('Your username cannot be empty');
                    }
                }

                let input = document.getElementById("username");

                // Send username when pressing enter
                input.addEventListener("keyup", function(event) {
                  // Number 13 is the "Enter" key on the keyboard
                  if (event.keyCode === 13) {
                      send_username();
                      }
                   });

                // Send username on click
                $('#joinTeam').on('click', function (){
                    send_username();
                });
            });
        </script>
    </body>


</html>